<footer class="text-gray-400 p-5 text-center text-sm">
  <div class="footer-content mx-auto">
    <p>Powered by <a href="https://beeoclock.com" target="_blank" rel="noopener noreferrer" class="hover:underline">Beeo'clock</a></p>
    <p>
      <a href="/terms-and-conditions" target="_blank" class="hover:underline" i18n>Terms and Conditions</a>
    </p>
    <p>
      <a href="/privacy-policy" target="_blank" class="hover:underline" i18n>Privacy Policy</a>
    </p>
    <p class="my-2" i18n>All rights reserved © {{ currentYear }}</p>
  </div>
</footer>
